/*https://colorhunt.co/palette/000b58003161006a67fff4b7*/
:root{
    --main-color:#000B58;
    --secondary-color:#006A67;
}

.cancion-card{
    background-color: var(--main-color);
    margin: 1rem 1rem 1rem 1rem;
    border-radius: 10px;
    padding: 1rem;
    text-decoration: none;
    color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.canciones-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding: 3rem;
}

.addSong{
    background-color: var(--main-color);
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: 2rem;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    text-decoration: none;
}

.addSong:hover{
    cursor: pointer;
}

.lista-container{
    background-color: red;
}

@media (max-width: 480px){
    .canciones-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0px;
        padding: 0px;
    }

    .cancion-card{
        width: 80vw;
        margin-bottom: 1rem;
        
    }

}