@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Rubik&family=Sora:wght@100..800&family=Titillium+Web&display=swap');

body {
  margin: 0;
  font-family: "Sora", sans-serif;
}

.title{
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
}